<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="mycss.css">
    <title>Pendataan</title>
</head>
<body>
    <div id="sapi">
        <h1>Aplikasi Penginputan Data Hibah Gianyar</h1>
        <input v-model="teks1" placeholder="Nomor NPHD"> <br>
        <input v-model="teks2" placeholder="Nilai NPHD"> <br>
        <input v-model="teks3" placeholder="Nama Penandatangan NPHD"> <br>
        <input v-model="teks4" placeholder="NIK Penandatangan"> <br>
        <input v-model="teks5" placeholder="Nomor HP ..."> <br>
      </div>


    <script src="app.js"></script>
</body>
</html>